.headerContainer{
    /* background-color: var(--olivine); */

    margin: 2rem;

    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.listContainer{
    display: flex;
    justify-content: space-around;
    width: 40%;
    margin-right: 2rem;
}

.linkClick{
    padding: 1rem;
    list-style-type: none;
    font-family: var(--body-copy-16-hifi-font-family);
    font-size: 16pt;
}

.wordmark{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin: -1rem 4rem;
    padding: 0;
}